<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hyperxtalk</string>
				<string>hyperxtalkscript</string>
				<string>rev</string>
				<string>livecode</string>
				<string>livecodescript</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>HyperXTalkDoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>HyperXTalk Stack</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>RSTK</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>$(BUILD_LONG_VERSION), Copyright 2000-2020 HyperXTalk Ltd.</string>
	<key>CFBundleIconFile</key>
	<string>HyperXTalk.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.hyperxtalk.hyperxtalk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>$(BUILD_LONG_VERSION), Copyright 2000-2020 HyperXTalk Ltd.</string>
	<key>CFBundleName</key>
	<string>HyperXTalk</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(BUILD_LONG_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>Revo</string>
	<key>CFBundleVersion</key>
	<string>$(BUILD_LONG_VERSION)</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LFPrefersCarbon</key>
	<true/>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>0</string>
	</dict>
	<key>LSGetAppDiedEvents</key>
	<true/>
	<key>LSArchitecturePriority</key>
	<array>
		<string>arm64</string>
		<string>x86_64</string>
	</array>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>OSAScriptingDefinition</key>
	<string>terminology.sdef</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2000-2020, HyperXTalk Ltd., All Rights Reserved.</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HyperXTalk Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.hyperxtalk.hyperxtalk.stack.native</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.macos.ostype</key>
				<string>RSTK</string>
				<key>public.filename-extension</key>
				<array>
					<string>hyperxtalk</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HyperXTalk Script Only Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.hyperxtalk.hyperxtalk.script.native</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hyperxtalkscript</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HyperXTalk Object</string>
			<key>UTTypeIdentifier</key>
			<string>com.hyperxtalk.hyperxtalk.objects-1</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>RSTK</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HyperXTalk Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.hyperxtalk.standalone.stack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.macos.ostype</key>
				<string>RSTK</string>
				<key>public.filename-extension</key>
				<array>
					<string>rev</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HyperXTalk Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.hyperxtalk.hyperxtalk.stack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.macos.ostype</key>
				<string>RSTK</string>
				<key>public.filename-extension</key>
				<array>
					<string>livecode</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>HyperXTalk Stack</string>
			<key>UTTypeIdentifier</key>
			<string>com.hyperxtalk.hyperxtalk.stack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.macos.ostype</key>
				<string>RSTK</string>
				<key>public.filename-extension</key>
				<array>
					<string>livecodescript</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>com_hyperxtalk_hyperxtalk_MCApplication</string>
</dict>
</plist>
